In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime

from sklearn.preprocessing import LabelEncoder, StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,roc_auc_score
from sklearn.metrics import accuracy_score,log_loss
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import RandomizedSearchCV

In [2]:
joined_data = pd.read_pickle('./joined_data.pkl')

In [3]:
joined_data.head()
aaa = joined_data.loc[joined_data.Capacity.isnull()]
aaa.home_team

Series([], Name: home_team, dtype: object)

In [5]:
pd.options.display.max_rows = 4000
pd.set_option('display.max_columns', None)
joined_data.head()

,home-away-indicator,opponent,win-loss-tie,runs,runs_allowed,innings,record,rank,gb,win,loss,save,time,day_night,attendance,cLI,streak,year,home_team,day,month,num-date,multi-game,wins,losses,Name,Capacity,Location,Surface,Team,Opened,dist_to_center_field_feet,type,roof_type
0,@,FLA,W,7,2,,1-0,2,0.5,Santana,Hendrickson,,2:53,D,38308.0,1.05,1,2008,NYM,Monday,Mar,31,None,1,0,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Retro-classic,Open
1,@,FLA,L-wo,4,5,10,1-1,2,1.0,Miller,Wise,,3:31,N,15117.0,1.16,-1,2008,NYM,Tuesday,Apr,1,None,1,1,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Retro-classic,Open
2,@,FLA,W,13,0,,2-1,2,1.0,Perez,Miller,,2:55,N,13720.0,1.10,1,2008,NYM,Wednesday,Apr,2,None,2,1,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Retro-classic,Open
3,@,ATL,L,5,11,,2-2,2,0.5,Hudson,Maine,,3:27,D,36130.0,1.11,-1,2008,NYM,Saturday,Apr,5,None,2,2,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Retro-classic,Open
4,@,ATL,L,1,3,,2-3,3,0.5,Smoltz,Santana,Soriano,2:35,D,39414.0,1.11,-2,2008,NYM,Sunday,Apr,6,None,2,3,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Retro-classic,Open

In [27]:
joined_data = joined_data.sort_values(["year", "month", "num-date"], ascending = (True, True, True))

In [28]:
one_hot_columns = ['roof_type', 'type', 'Surface', 'day_night', 'month', 'day', 'opponent', 'home_team']
#one_hot_columns = ['roof_type', 'type', 'Surface', 'day_night', 'month', 'day']
joined_data = pd.get_dummies(joined_data,columns=one_hot_columns)

In [29]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57663 entries, 1 to 55700
Columns: 115 entries, home-away-indicator to home_team_WSN
dtypes: float64(1), int64(4), object(21), uint8(89)
memory usage: 16.8+ MB

### Convert the labels to encoded state

label_enc = LabelEncoder()
joined_data.roof_type = label_enc.fit_transform(joined_data.roof_type)
joined_data.type      = label_enc.fit_transform(joined_data.type)
joined_data.Surface   = label_enc.fit_transform(joined_data.Surface)
joined_data.day_night = label_enc.fit_transform(joined_data.day_night)
joined_data.opponent  = label_enc.fit_transform(joined_data.opponent)
joined_data.Name = label_enc.fit_transform(joined_data.Name)
joined_data.home_team = label_enc.fit_transform(joined_data.home_team)
joined_data.day = label_enc.fit_transform(joined_data.day)
joined_data.month = label_enc.fit_transform(joined_data.month)

In [30]:
joined_data.loc[0]

home-away-indicator    @
win-loss-tie           W
runs                   7
runs_allowed           2
innings
                      ..
home_team_STL          0
home_team_TBR          0
home_team_TEX          0
home_team_TOR          0
home_team_WSN          0
Name: 0, Length: 115, dtype: object

In [31]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57663 entries, 1 to 55700
Columns: 115 entries, home-away-indicator to home_team_WSN
dtypes: float64(1), int64(4), object(21), uint8(89)
memory usage: 19.3+ MB

In [32]:
joined_data.Capacity.isnull().sum()
joined_data.loc[joined_data.Capacity.isnull()]

Empty DataFrame
Columns: [home-away-indicator, win-loss-tie, runs, runs_allowed, innings, record, rank, gb, win, loss, save, time, attendance, cLI, streak, year, num-date, multi-game, wins, losses, Name, Capacity, Location, Team, Opened, dist_to_center_field_feet, roof_type_Fixed, roof_type_Open, roof_type_Retractable, type_Contemporary, type_Jewel box, type_Modern, type_Multipurpose, type_Retro-classic, type_Retro-modern, Surface_Artificial turf, Surface_Grass, day_night_D, day_night_N, month_Apr, month_Aug, month_Jul, month_Jun, month_Mar, month_May, month_Oct, month_Sep, day_Friday, day_Monday, day_Saturday, day_Sunday, day_Thursday, day_Tuesday, day_Wednesday, opponent_ARI, opponent_ATL, opponent_BAL, opponent_BOS, opponent_CHC, opponent_CHW, opponent_CIN, opponent_CLE, opponent_COL, opponent_DET, opponent_FLA, opponent_HOU, opponent_KCR, opponent_LAA, opponent_LAD, opponent_MIA, opponent_MIL, opponent_MIN, opponent_NYM, opponent_NYY, opponent_OAK, opponent_PHI, opponent_PIT, opponent_SDP, opponent_SEA, opponent_SFG, opponent_STL, opponent_TBR, opponent_TEX, opponent_TOR, opponent_WSN, home_team_ARI, home_team_ATL, home_team_BAL, home_team_BOS, home_team_CHC, home_team_CHW, home_team_CIN, home_team_CLE, home_team_COL, home_team_DET, home_team_HOU, home_team_KCR, home_team_LAA, home_team_LAD, home_team_MIA, ...]
Index: []

[0 rows x 115 columns]

In [33]:
#convert the remaining object columns to numeric
joined_data.cLI = joined_data.cLI.astype(str).astype(float)
joined_data.Capacity = joined_data.Capacity.astype(str).astype(int)
joined_data['num-date'] = joined_data['num-date'].astype(str).astype(int)
joined_data['dist_to_center_field_feet'] = joined_data['dist_to_center_field_feet'].astype(str).astype(int)
joined_data['rank'] = joined_data['rank'].astype(str).astype(int)

In [34]:
### Drop Columns We Will Not Use

In [35]:
#df['rank']

In [36]:
df = joined_data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57663 entries, 1 to 55700
Columns: 115 entries, home-away-indicator to home_team_WSN
dtypes: float64(2), int32(4), int64(4), object(16), uint8(89)
memory usage: 18.4+ MB

In [37]:
df.drop(columns = ['home-away-indicator',
                   'record',
                   'gb',
                   'win-loss-tie', 
                   'runs',
                   'runs_allowed',
                   'innings',
                   'win',
                   'loss',
                   'save',
                   'time',
                   'multi-game',
                   'Location',
                   'Team',
                   'Opened',
                   'Name'], inplace= True)

In [38]:
#Convert the the rank, GB, CLi to INT

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57663 entries, 1 to 55700
Data columns (total 99 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank                       57663 non-null  int32
 1   attendance                 57444 non-null  float64
 2   cLI                        57663 non-null  float64
 3   streak                     57663 non-null  int64
 4   year                       57663 non-null  int64
 5   num-date                   57663 non-null  int32
 6   wins                       57663 non-null  int64
 7   losses                     57663 non-null  int64
 8   Capacity                   57663 non-null  int32
 9   dist_to_center_field_feet  57663 non-null  int32
 10  roof_type_Fixed            57663 non-null  uint8
 11  roof_type_Open             57663 non-null  uint8
 12  roof_type_Retractable      57663 non-null  uint8
 13  type_Contemporary          57663 non-null  uint8
 14  type_Jewel box             57663 non-null  uint8
 15  type_Modern                57663 non-null  uint8
 16  type_Multipurpose          57663 non-null  uint8
 17  type_Retro-classic         57663 non-null  uint8
 18  type_Retro-modern          57663 non-null  uint8
 19  Surface_Artificial turf    57663 non-null  uint8
 20  Surface_Grass              57663 non-null  uint8
 21  day_night_D                57663 non-null  uint8
 22  day_night_N                57663 non-null  uint8
 23  month_Apr                  57663 non-null  uint8
 24  month_Aug                  57663 non-null  uint8
 25  month_Jul                  57663 non-null  uint8
 26  month_Jun                  57663 non-null  uint8
 27  month_Mar                  57663 non-null  uint8
 28  month_May                  57663 non-null  uint8
 29  month_Oct                  57663 non-null  uint8
 30  month_Sep                  57663 non-null  uint8
 31  day_Friday                 57663 non-null  uint8
 32  day_Monday                 57663 non-null  uint8
 33  day_Saturday               57663 non-null  uint8
 34  day_Sunday                 57663 non-null  uint8
 35  day_Thursday               57663 non-null  uint8
 36  day_Tuesday                57663 non-null  uint8
 37  day_Wednesday              57663 non-null  uint8
 38  opponent_ARI               57663 non-null  uint8
 39  opponent_ATL               57663 non-null  uint8
 40  opponent_BAL               57663 non-null  uint8
 41  opponent_BOS               57663 non-null  uint8
 42  opponent_CHC               57663 non-null  uint8
 43  opponent_CHW               57663 non-null  uint8
 44  opponent_CIN               57663 non-null  uint8
 45  opponent_CLE               57663 non-null  uint8
 46  opponent_COL               57663 non-null  uint8
 47  opponent_DET               57663 non-null  uint8
 48  opponent_FLA               57663 non-null  uint8
 49  opponent_HOU               57663 non-null  uint8
 50  opponent_KCR               57663 non-null  uint8
 51  opponent_LAA               57663 non-null  uint8
 52  opponent_LAD               57663 non-null  uint8
 53  opponent_MIA               57663 non-null  uint8
 54  opponent_MIL               57663 non-null  uint8
 55  opponent_MIN               57663 non-null  uint8
 56  opponent_NYM               57663 non-null  uint8
 57  opponent_NYY               57663 non-null  uint8
 58  opponent_OAK               57663 non-null  uint8
 59  opponent_PHI               57663 non-null  uint8
 60  opponent_PIT               57663 non-null  uint8
 61  opponent_SDP               57663 non-null  uint8
 62  opponent_SEA               57663 non-null  uint8
 63  opponent_SFG               57663 non-null  uint8
 64  opponent_STL               57663 non-null  uint8
 65  opponent_TBR               57663 non-null  uint8
 66  opponent_TEX               57663 non-null  uint8
 67  opponent_TOR               57663 non-null  uint8
 68  opponent_WSN               57663 non-null  uint8
 69  home_team_ARI              57663 non-null  uint8
 70  home_team_ATL              57663 non-null  uint8
 71  home_team_BAL              57663 non-null  uint8
 72  home_team_BOS              57663 non-null  uint8
 73  home_team_CHC              57663 non-null  uint8
 74  home_team_CHW              57663 non-null  uint8
 75  home_team_CIN              57663 non-null  uint8
 76  home_team_CLE              57663 non-null  uint8
 77  home_team_COL              57663 non-null  uint8
 78  home_team_DET              57663 non-null  uint8
 79  home_team_HOU              57663 non-null  uint8
 80  home_team_KCR              57663 non-null  uint8
 81  home_team_LAA              57663 non-null  uint8
 82  home_team_LAD              57663 non-null  uint8
 83  home_team_MIA              57663 non-null  uint8
 84  home_team_MIL              57663 non-null  uint8
 85  home_team_MIN              57663 non-null  uint8
 86  home_team_NYM              57663 non-null  uint8
 87  home_team_NYY              57663 non-null  uint8
 88  home_team_OAK              57663 non-null  uint8
 89  home_team_PHI              57663 non-null  uint8
 90  home_team_PIT              57663 non-null  uint8
 91  home_team_SDP              57663 non-null  uint8
 92  home_team_SEA              57663 non-null  uint8
 93  home_team_SFG              57663 non-null  uint8
 94  home_team_STL              57663 non-null  uint8
 95  home_team_TBR              57663 non-null  uint8
 96  home_team_TEX              57663 non-null  uint8
 97  home_team_TOR              57663 non-null  uint8
 98  home_team_WSN              57663 non-null  uint8
dtypes: float64(2), int32(4), int64(4), uint8(89)
memory usage: 11.4 MB

In [40]:
df.head()

,rank,attendance,cLI,streak,year,num-date,wins,losses,Capacity,dist_to_center_field_feet,...,home_team_PHI,home_team_PIT,home_team_SDP,home_team_SEA,home_team_SFG,home_team_STL,home_team_TBR,home_team_TEX,home_team_TOR,home_team_WSN
1,2,15117.0,1.16,-1,2008,1,1,1,41922,408,...,0,0,0,0,0,0,0,0,0,0
14899,3,45996.0,0.96,-1,2008,1,0,1,45494,400,...,0,0,0,0,0,1,0,0,0,0
18786,5,44054.0,1.00,-2,2008,1,0,2,41265,391,...,0,0,0,0,1,0,0,0,0,0
20730,1,44054.0,1.09,2,2008,1,2,0,56000,395,...,0,0,0,0,0,0,0,0,0,0
22674,1,20825.0,0.99,2,2008,1,2,0,40209,396,...,0,0,1,0,0,0,0,0,0,0

df = df.sort_values(["year", "month", "num-date"], ascending = (True, True, True))

In [41]:
df.head(40)

,rank,attendance,cLI,streak,year,num-date,wins,losses,Capacity,dist_to_center_field_feet,...,home_team_PHI,home_team_PIT,home_team_SDP,home_team_SEA,home_team_SFG,home_team_STL,home_team_TBR,home_team_TEX,home_team_TOR,home_team_WSN
1,2,15117.0,1.16,-1,2008,1,1,1,41922,408,...,0,0,0,0,0,0,0,0,0,0
14899,3,45996.0,0.96,-1,2008,1,0,1,45494,400,...,0,0,0,0,0,1,0,0,0,0
18786,5,44054.0,1.00,-2,2008,1,0,2,41265,391,...,0,0,0,0,1,0,0,0,0,0
20730,1,44054.0,1.09,2,2008,1,2,0,56000,395,...,0,0,0,0,0,0,0,0,0,0
22674,1,20825.0,0.99,2,2008,1,2,0,40209,396,...,0,0,1,0,0,0,0,0,0,0
24617,3,45996.0,0.97,1,2008,1,1,0,50144,415,...,0,0,0,0,0,0,0,0,0,0
28508,1,36067.0,1.03,1,2008,1,2,1,37755,390,...,0,0,0,0,0,0,0,0,0,0
32395,1,55112.0,1.09,1,2008,1,1,0,46537,408,...,0,0,0,0,0,0,0,0,0,0
34339,4,55112.0,1.09,-1,2008,1,0,1,49286,400,...,0,0,0,0,0,0,0,0,1,0
44055,3,24586.0,1.03,-1,2008,1,1,1,38544,404,...,0,0,0,0,0,0,0,0,0,0
47945,6,20825.0,0.84,-2,2008,1,0,2,41168,409,...,0,0,0,0,0,0,0,0,0,0
49889,4,36067.0,1.05,-1,2008,1,1,2,46847,400,...,0,0,0,0,0,0,0,0,0,0
51831,1,25204.0,1.25,-1,2008,1,1,1,47929,401,...,0,0,0,1,0,0,0,0,0,0
53775,1,24586.0,0.98,1,2008,1,1,1,45517,396,...,0,0,0,0,0,0,0,0,0,0
55719,1,25204.0,1.17,1,2008,1,1,1,40300,407,...,0,0,0,0,0,0,0,1,0,0
7,2,49045.0,1.09,2,2008,10,4,4,41922,408,...,0,0,0,0,0,0,0,0,0,0
3896,3,49045.0,1.11,-2,2008,10,4,6,42792,401,...,1,0,0,0,0,0,0,0,0,0
5840,5,24549.0,0.98,-7,2008,10,3,7,41339,402,...,0,0,0,0,0,0,0,0,0,1
9075,2,25023.0,1.20,-2,2008,10,6,3,41900,400,...,0,0,0,0,0,0,0,0,0,0
11021,4,25023.0,1.06,2,2008,10,6,4,42319,404,...,0,0,0,0,0,0,0,0,0,0
12964,2,9798.0,1.09,5,2008,10,6,3,41649,400,...,0,0,0,0,0,0,0,0,0,0
14908,1,30333.0,1.13,-1,2008,10,7,3,45494,400,...,0,0,0,0,0,1,0,0,0,0
16851,5,9798.0,0.88,-3,2008,10,3,6,38747,399,...,0,1,0,0,0,0,0,0,0,0
18794,5,30333.0,0.81,3,2008,10,4,6,41265,391,...,0,0,0,0,1,0,0,0,0,0
28515,2,37612.0,0.97,1,2008,10,5,5,37755,390,...,0,0,0,0,0,0,0,0,0,0
30458,4,11898.0,0.91,1,2008,10,4,5,25000,404,...,0,0,0,0,0,0,1,0,0,0
32404,2,16143.0,0.95,1,2008,10,5,5,46537,408,...,0,0,0,0,0,0,0,0,0,0
34347,4,16521.0,0.99,-3,2008,10,4,5,49286,400,...,0,0,0,0,0,0,0,0,1,0
36290,1,NaN,1.20,-1,2008,10,6,2,45971,410,...,0,0,0,0,0,0,0,0,0,0
36291,1,15560.0,1.13,-2,2008,10,6,3,45971,410,...,0,0,0,0,0,0,0,0,0,0
42120,5,37612.0,0.69,-1,2008,10,1,8,41083,420,...,0,0,0,0,0,0,0,0,0,0
46008,1,16143.0,1.14,-1,2008,10,6,3,37903,410,...,0,0,0,0,0,0,0,0,0,0
49896,1,16521.0,1.08,3,2008,10,6,4,46847,400,...,0,0,0,0,0,0,0,0,0,0
51839,4,11898.0,1.04,-1,2008,10,4,6,47929,401,...,0,0,0,1,0,0,0,0,0,0
55725,3,NaN,1.04,1,2008,10,4,4,40300,407,...,0,0,0,0,0,0,0,1,0,0
55726,3,15560.0,1.07,2,2008,10,5,4,40300,407,...,0,0,0,0,0,0,0,1,0,0
8,2,46214.0,1.03,3,2008,11,5,4,41922,408,...,0,0,0,0,0,0,0,0,0,0
1953,4,28051.0,0.90,1,2008,11,4,6,41084,400,...,0,0,0,0,0,0,0,0,0,0
3897,3,37368.0,0.92,1,2008,11,5,6,42792,401,...,1,0,0,0,0,0,0,0,0,0
5841,5,28051.0,0.83,-8,2008,11,3,8,41339,402,...,0,0,0,0,0,0,0,0,0,1

In [42]:
df.to_pickle(("./prepared_data.pkl"))

In [43]:
y = df.attendance
X = df.drop(columns='attendance')

In [44]:
X_train = X[:int(X.shape[0]*0.7)]
X_test = X[int(X.shape[0]*0.7):]
y_train = y[:int(X.shape[0]*0.7)]
y_test = y[int(X.shape[0]*0.7):]

In [45]:
df.head()
df.isnull().sum()
df.dropna(subset = ["attendance"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57444 entries, 1 to 55700
Data columns (total 99 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank                       57444 non-null  int32
 1   attendance                 57444 non-null  float64
 2   cLI                        57444 non-null  float64
 3   streak                     57444 non-null  int64
 4   year                       57444 non-null  int64
 5   num-date                   57444 non-null  int32
 6   wins                       57444 non-null  int64
 7   losses                     57444 non-null  int64
 8   Capacity                   57444 non-null  int32
 9   dist_to_center_field_feet  57444 non-null  int32
 10  roof_type_Fixed            57444 non-null  uint8
 11  roof_type_Open             57444 non-null  uint8
 12  roof_type_Retractable      57444 non-null  uint8
 13  type_Contemporary          57444 non-null  uint8
 14  type_Jewel box             57444 non-null  uint8
 15  type_Modern                57444 non-null  uint8
 16  type_Multipurpose          57444 non-null  uint8
 17  type_Retro-classic         57444 non-null  uint8
 18  type_Retro-modern          57444 non-null  uint8
 19  Surface_Artificial turf    57444 non-null  uint8
 20  Surface_Grass              57444 non-null  uint8
 21  day_night_D                57444 non-null  uint8
 22  day_night_N                57444 non-null  uint8
 23  month_Apr                  57444 non-null  uint8
 24  month_Aug                  57444 non-null  uint8
 25  month_Jul                  57444 non-null  uint8
 26  month_Jun                  57444 non-null  uint8
 27  month_Mar                  57444 non-null  uint8
 28  month_May                  57444 non-null  uint8
 29  month_Oct                  57444 non-null  uint8
 30  month_Sep                  57444 non-null  uint8
 31  day_Friday                 57444 non-null  uint8
 32  day_Monday                 57444 non-null  uint8
 33  day_Saturday               57444 non-null  uint8
 34  day_Sunday                 57444 non-null  uint8
 35  day_Thursday               57444 non-null  uint8
 36  day_Tuesday                57444 non-null  uint8
 37  day_Wednesday              57444 non-null  uint8
 38  opponent_ARI               57444 non-null  uint8
 39  opponent_ATL               57444 non-null  uint8
 40  opponent_BAL               57444 non-null  uint8
 41  opponent_BOS               57444 non-null  uint8
 42  opponent_CHC               57444 non-null  uint8
 43  opponent_CHW               57444 non-null  uint8
 44  opponent_CIN               57444 non-null  uint8
 45  opponent_CLE               57444 non-null  uint8
 46  opponent_COL               57444 non-null  uint8
 47  opponent_DET               57444 non-null  uint8
 48  opponent_FLA               57444 non-null  uint8
 49  opponent_HOU               57444 non-null  uint8
 50  opponent_KCR               57444 non-null  uint8
 51  opponent_LAA               57444 non-null  uint8
 52  opponent_LAD               57444 non-null  uint8
 53  opponent_MIA               57444 non-null  uint8
 54  opponent_MIL               57444 non-null  uint8
 55  opponent_MIN               57444 non-null  uint8
 56  opponent_NYM               57444 non-null  uint8
 57  opponent_NYY               57444 non-null  uint8
 58  opponent_OAK               57444 non-null  uint8
 59  opponent_PHI               57444 non-null  uint8
 60  opponent_PIT               57444 non-null  uint8
 61  opponent_SDP               57444 non-null  uint8
 62  opponent_SEA               57444 non-null  uint8
 63  opponent_SFG               57444 non-null  uint8
 64  opponent_STL               57444 non-null  uint8
 65  opponent_TBR               57444 non-null  uint8
 66  opponent_TEX               57444 non-null  uint8
 67  opponent_TOR               57444 non-null  uint8
 68  opponent_WSN               57444 non-null  uint8
 69  home_team_ARI              57444 non-null  uint8
 70  home_team_ATL              57444 non-null  uint8
 71  home_team_BAL              57444 non-null  uint8
 72  home_team_BOS              57444 non-null  uint8
 73  home_team_CHC              57444 non-null  uint8
 74  home_team_CHW              57444 non-null  uint8
 75  home_team_CIN              57444 non-null  uint8
 76  home_team_CLE              57444 non-null  uint8
 77  home_team_COL              57444 non-null  uint8
 78  home_team_DET              57444 non-null  uint8
 79  home_team_HOU              57444 non-null  uint8
 80  home_team_KCR              57444 non-null  uint8
 81  home_team_LAA              57444 non-null  uint8
 82  home_team_LAD              57444 non-null  uint8
 83  home_team_MIA              57444 non-null  uint8
 84  home_team_MIL              57444 non-null  uint8
 85  home_team_MIN              57444 non-null  uint8
 86  home_team_NYM              57444 non-null  uint8
 87  home_team_NYY              57444 non-null  uint8
 88  home_team_OAK              57444 non-null  uint8
 89  home_team_PHI              57444 non-null  uint8
 90  home_team_PIT              57444 non-null  uint8
 91  home_team_SDP              57444 non-null  uint8
 92  home_team_SEA              57444 non-null  uint8
 93  home_team_SFG              57444 non-null  uint8
 94  home_team_STL              57444 non-null  uint8
 95  home_team_TBR              57444 non-null  uint8
 96  home_team_TEX              57444 non-null  uint8
 97  home_team_TOR              57444 non-null  uint8
 98  home_team_WSN              57444 non-null  uint8
dtypes: float64(2), int32(4), int64(4), uint8(89)
memory usage: 8.8 MB